body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
}

#breadcrumb {
    color: #565959;
}

.title {
    font-weight: lighter;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
    width: 400px;
    height: 500px;
}

.section {
    margin: 20px 15px;
}

#author {
    color: #007185;
}

h4 {
    font-weight: lighter;
    margin: 10px 0 10px;
}

#ratings {
    width: 100px;
}
